@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/league-gothic.leaguegothic-regular-webfont.eot');
    src: url('../fonts/league-gothic.leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/league-gothic.leaguegothic-regular-webfont.woff2') format('woff2'),
    url('../fonts/league-gothic.leaguegothic-regular-webfont.woff') format('woff'),
    url('../fonts/league-gothic.leaguegothic-regular-webfont.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/open-sans-light-webfont.eot');
    src: url('../fonts/open-sans-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans-light-webfont.woff2') format('woff2'),
    url('../fonts/open-sans-light-webfont.woff') format('woff'),
    url('../fonts/open-sans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Extrabold';
    src: url('../fonts/open-sans-extrabold-webfont.eot');
    src: url('../fonts/open-sans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/open-sans-extrabold-webfont.woff') format('woff'),
    url('../fonts/open-sans-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
}

.container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 960px;
}

/* HEADER */
header {
    background: url(../img/bg_main.jpg) no-repeat top center;
    -pie-background: url(../img/bg_main.jpg) no-repeat top center;
    behavior: url(PIE.htc);
    overflow: hidden;
}

.header {
    height: 278px;
}

.header__logo {
    float: left;
    margin-top: 70px;
    margin-bottom: 35px;
}

.header__logo a {
    display: inline-block;
    height: 39px;
    width: 152px;
    background: url("../img/logo.png") no-repeat;
    -pie-background: url("../img/logo.png") no-repeat;
    behavior: url(PIE.htc);
}

/* ЛОГОТИП ШРИФТОМ Only Chrome
.header__logo a {
    text-decoration: none;
    color: #fff;
    font: 48px/40px "League Gothic Regular", Arial, sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, .4);
}

#logo-end {
    background: linear-gradient(to top, #37283e, #a97abb);
    -webkit-background-clip: text;
    color: transparent;
} */

/* MENU HORIZONTAL */
nav {
    overflow: hidden;
    margin-top: 70px;
}

.menu__list {
    float: right;
    font-size: 0px;
}

.menu__list-items {
    display: inline-block;
    margin: 0 20px;
}

.menu__list-items a {
    padding: 0 4px;
    text-decoration: none;
    color: #fff;
    font: 24px/34px "League Gothic Regular", Arial, sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, .4);
}

.menu__list-items a:hover {
    border-bottom: 2px solid #edbfff;
}

/* SLIDER */
.slider {
    height: 400px;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
}

.slider__area {
    position: relative;
    overflow: inherit;
}

.slider__content {
    position: relative;
    width: 520px;
    padding-top: 80px;
}

.slider__phone {
    position: absolute;
    left: 600px;
    top: -20px;
    height: 430px;
    width: 270px;
    background: url("../img/phone.png") no-repeat;
    -pie-background: url("../img/phone.png") no-repeat;
    behavior: url(PIE.htc);
}

.slider__button-play {
    display: block;
    position: absolute;
    height: 76px;
    width: 76px;
    left: 736px;
    top: 132px;
    background: url(../img/button_play.png) 0px 0px no-repeat;
    -pie-background: url(../img/button_play.png) 0px 0px no-repeat;
    behavior: url(PIE.htc);
}

.slider__button-previous {
    display: block;
    position: absolute;
    height: 34px;
    width: 25px;
    left: -320px;
    top: 180px;
    background: url(../img/arrows.png) 0px 0px no-repeat;
    -pie-background: url(../img/arrows.png) 0px 0px no-repeat;
    behavior: url(PIE.htc);
}

.slider__button-next {
    display: block;
    position: absolute;
    height: 34px;
    width: 25px;
    left: 1255px;
    top: 180px;
    background: url(../img/arrows.png) -26px 0px no-repeat;
    -pie-background: url(../img/arrows.png) -26px 0px no-repeat;
    behavior: url(PIE.htc);
}

.slider__button-play:hover {
    background: url(../img/button_play.png) -77px 0px no-repeat;
    -pie-background: url(../img/button_play.png) -77px 0px no-repeat;
    behavior: url(PIE.htc);
}

.slider__content h1 {
    font: 60px/60px "League Gothic Regular", Arial, sans-serif;
    color: #fefefe;
    text-transform: capitalize;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.slider__content h2 {
    margin-bottom: 15px;
    font: 32px/32px "League Gothic Regular", Arial, sans-serif;
    color: #edbfff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.slider__content p {
    font: 18px/22px "Open Sans Light", Arial, sans-serif;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.slider-nav {
    height: 168px;
}

.slider-nav_area {
    position: relative;
    height: 100%;
}

.slider-nav__radio-button {
    display: none;
}

.slider-nav__control {
    position: absolute;
    top: 92px;
    left: 710px;
    cursor: pointer;
}

.slider-nav__control label {
    display: inline-block;
    margin-left: 3px;
    width: 12px;
    height: 12px;
    border: 3px solid transparent;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#slider-nav__radio-button-1:checked ~ .slider-nav__control label:nth-child(1),
#slider-nav__radio-button-2:checked ~ .slider-nav__control label:nth-child(2),
#slider-nav__radio-button-3:checked ~ .slider-nav__control label:nth-child(3),
#slider-nav__radio-button-4:checked ~ .slider-nav__control label:nth-child(4) {
    background: rgba(255, 255, 255, 1);
    border: 3px solid rgba(0, 0, 0, 0.75);
    transition: all 0.3s;
}

/* MAIN CONTENT */

main {
    width: 100%;
}

/* ABOUT */

.about-blocks {
    height: 340px;
    background: linear-gradient(to top, #322539, #745083);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#322539', endColorstr='#745083', GradientType=1);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.about-blocks__area article {
    float: right;
    position: relative;
    margin-top: 77px;
    max-width: 226px;
}

.about-blocks__area article h3 {
    margin-bottom: 15px;
    font: 30px/30px "League Gothic Regular", Arial, sans-serif;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.about-blocks__area article p {
    overflow: hidden;
    max-height: 115px;
    font: 16px/22px "Open Sans Light", Arial, sans-serif;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.about-blocks__read-more {
    float: right;
    margin-top: 17px;
    text-decoration: none;
    font: 18px/18px "League Gothic Regular", Arial, sans-serif;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.about-blocks__read-more:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 1);
}

.about-blocks__center {
    margin-left: 110px;
    margin-right: 110px;
}

.about-blocks__right .about-blocks__icon {
    position: absolute;
    height: 31px;
    width: 31px;
    left: -50px;
    bottom: 158px;
    background: url(../img/icons_about.png) -65px 0px no-repeat;
    -pie-background: url(../img/icons_about.png) -65px 0px no-repeat;
    behavior: url(PIE.htc);
}

.about-blocks__center .about-blocks__icon {
    position: absolute;
    height: 31px;
    width: 31px;
    left: -50px;
    bottom: 158px;
    background: url(../img/icons_about.png) -32px 0px no-repeat;
    -pie-background: url(../img/icons_about.png) -32px 0px no-repeat;
    behavior: url(PIE.htc);
}

.about-blocks__left .about-blocks__icon {
    position: absolute;
    height: 31px;
    width: 31px;
    left: -50px;
    bottom: 158px;
    background: url(../img/icons_about.png) 0px 0px no-repeat;
    -pie-background: url(../img/icons_about.png) 0px 0px no-repeat;
    behavior: url(PIE.htc);
}

/* BLOG STARTS HERE */
.blog-blocks {
    background: #f9f9f9;
    width: 100%;
}

.blog-blocks__area {
    overflow: visible;
    padding-top: 100px;
    height: 386px;
}

.blog-blocks__starts-here {
    margin-left: 22px;
    padding: 30px 40px 40px;
    width: 350px;
    background: #fff;
    border: 1px solid #f6f6f6;
}

.blog-blocks__starts-here h3,
.blog-blocks__recent-updates h3 {
    margin-bottom: 20px;
    font: 30px/30px "League Gothic Regular", Arial, sans-serif;
    text-transform: uppercase;
    color: #454545;
}

.blog-blocks__starts-here h3 span {
    color: #edbfff;
}

.blog-blocks__starts-here p {
    overflow: hidden;
    max-height: 155px;
    font: 16px/22px "Open Sans Light", Arial, sans-serif;
    color: #454545;
}

.blog-blocks__starts-here-ico {
    position: absolute;
    height: 49px;
    width: 49px;
    top: 117px;
    left: 0px;
    background: url("../img/ico_start-here.png") no-repeat;
    -pie-background: url("../img/ico_start-here.png") no-repeat;
    behavior: url(PIE.htc);
}

.slider-nav__control--blog {
    position: absolute;
    bottom: 70px;
    left: 187px;
    cursor: pointer;
}

.slider-nav__control--blog label {
    display: inline-block;
    margin-left: 3px;
    width: 12px;
    height: 12px;
    border: 2px solid #e6e6e6;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
}

#slider-nav__radio-button-5:checked ~ .slider-nav__control--blog label:nth-child(1),
#slider-nav__radio-button-6:checked ~ .slider-nav__control--blog label:nth-child(2),
#slider-nav__radio-button-7:checked ~ .slider-nav__control--blog label:nth-child(3),
#slider-nav__radio-button-8:checked ~ .slider-nav__control--blog label:nth-child(4) {
    background: rgb(94, 94, 94);
    border: 2px solid rgba(250, 250, 250, 1);
    transition: all 0.3s;
}

/* BLOG RECENT UPDATES*/
.blog-blocks__recent-updates {
    float: right;
    padding-top: 30px;
    width: 450px;
}

.blog-blocks__recent-updates-news,
.blog-blocks__recent-updates-category,
.blog-blocks__recent-updates-blog {
    position: relative;
    margin-left: 65px;
    width: 375px;
}

.blog-blocks__recent-updates-category {
    margin-top: 30px;
    margin-bottom: 30px;
}

.blog-blocks__recent-updates-news h4,
.blog-blocks__recent-updates-category h4,
.blog-blocks__recent-updates-blog h4 {
    font: 16px/20px "Open Sans Extrabold", Arial, sans-serif;
    color: #454545;
}

.blog-blocks__recent-updates-news p,
.blog-blocks__recent-updates-category p,
.blog-blocks__recent-updates-blog p {
    font: 16px/20px "Open Sans Light", Arial, sans-serif;
    color: #454545;
}

.blog-blocks__recent-updates-news-ico {
    position: absolute;
    border-radius: 30px;
    height: 48px;
    width: 48px;
    top: -5px;
    left: -65px;
    background: url("../img/bg_recent.png") -83px -70px no-repeat;
    -pie-background: url("../img/bg_recent.png") -83px -70px no-repeat;
    behavior: url(PIE.htc);
}

.blog-blocks__recent-updates-category-ico {
    position: absolute;
    border-radius: 30px;
    height: 48px;
    width: 48px;
    top: -5px;
    left: -65px;
    background: url("../img/bg_recent.png") -155px -95px no-repeat;
    -pie-background: url("../img/bg_recent.png") -155px -95px no-repeat;
    behavior: url(PIE.htc);
}

.blog-blocks__recent-updates-blog-ico {
    position: absolute;
    border-radius: 30px;
    height: 48px;
    width: 48px;
    top: -5px;
    left: -65px;
    background: url("../img/bg_recent.png") -100px -130px no-repeat;
    -pie-background: url("../img/bg_recent.png") -100px -130px no-repeat;
    behavior: url(PIE.htc);
}

.blog-blocks__recent-updates-read-more {
    float: right;
    margin-top: 25px;
    text-decoration: none;
    font: 18px/18px "League Gothic Regular", Arial, sans-serif;
    color: #454545;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.3);
}

.blog-blocks__recent-updates-read-more:hover {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* BRANDS */

.blog-blocks__brands {
    height: 120px;
    width: 100%;
    border-top: 1px solid #e6e6e6;
}

.blog-blocks__brands section {
    margin-top: 28px;
}

.blog-blocks__brands a {
    display: block;
    float: left;
    height: 65px;
}

.blog-blocks__1 {
    margin-left: 93px;
    margin-right: 65px;
    width: 70px;
    background: url("../img/brands.png") 0 0 no-repeat;
    -pie-background: url("../img/brands.png") 0 0 no-repeat;
    behavior: url(PIE.htc);
}

.blog-blocks__1:hover {
    background: url("../img/brands.png") 0 -66px no-repeat;
    -pie-background: url("../img/brands.png") 0 -66px no-repeat;
    behavior: url(PIE.htc);
    cursor: pointer;
}

.blog-blocks__2 {
    margin-right: 65px;
    width: 73px;
    background: url("../img/brands.png") -134px 0 no-repeat;
    -pie-background: url("../img/brands.png") -134px 0 no-repeat;
    behavior: url(PIE.htc);
}

.blog-blocks__2:hover {
    background: url("../img/brands.png") -134px -66px no-repeat;
    -pie-background: url("../img/brands.png") -134px -66px no-repeat;
    behavior: url(PIE.htc);
    cursor: pointer;
}

.blog-blocks__3 {
    margin-right: 65px;
    width: 65px;
    background: url("../img/brands.png") -270px 0 no-repeat;
    -pie-background: url("../img/brands.png") -270px 0 no-repeat;
    behavior: url(PIE.htc);
}

.blog-blocks__3:hover {
    background: url("../img/brands.png") -270px -66px no-repeat;
    -pie-background: url("../img/brands.png") -270px -66px no-repeat;
    behavior: url(PIE.htc);
    cursor: pointer;
}

.blog-blocks__4 {
    margin-right: 65px;
    width: 53px;
    background: url("../img/brands.png") -408px 0 no-repeat;
    -pie-background: url("../img/brands.png") -408px 0 no-repeat;
    behavior: url(PIE.htc);
}

.blog-blocks__4:hover {
    background: url("../img/brands.png") -408px -66px no-repeat;
    -pie-background: url("../img/brands.png") -408px -66px no-repeat;
    behavior: url(PIE.htc);
    cursor: pointer;
}

.blog-blocks__5 {
    margin-right: 65px;
    width: 105px;
    background: url("../img/brands.png") -527px 0 no-repeat;
    -pie-background: url("../img/brands.png") -527px 0 no-repeat;
    behavior: url(PIE.htc);
}

.blog-blocks__5:hover {
    background: url("../img/brands.png") -527px -66px no-repeat;
    -pie-background: url("../img/brands.png") -527px -66px no-repeat;
    behavior: url(PIE.htc);
    cursor: pointer;
}

.blog-blocks__6 {
    margin-right: 65px;
    width: 80px;
    background: url("../img/brands.png") -696px 0 no-repeat;
    -pie-background: url("../img/brands.png") -696px 0 no-repeat;
    behavior: url(PIE.htc);
}

.blog-blocks__6:hover {
    background: url("../img/brands.png") -696px -66px no-repeat;
    -pie-background: url("../img/brands.png") -696px -66px no-repeat;
    behavior: url(PIE.htc);
    cursor: pointer;
}

/* INFO */
.info-blocks {
    height: 395px;
    width: 100%;
    background: #ececec;
}

.info-blocks__area article {
    float: right;
    position: relative;
    margin-top: 100px;
    max-width: 282px;
}

.info-blocks__area article h3 {
    margin-bottom: 20px;
    font: 30px/30px "League Gothic Regular", Arial, sans-serif;
    text-transform: uppercase;
    color: #454545;
}

.info-blocks__area article p {
    font: 16px/22px "Open Sans Light", Arial, sans-serif;
    color: #787878;
}

.info-blocks__center p,
.info-blocks__right p {
    overflow: hidden;
    max-height: 155px;
}

.info-blocks__left h1 {
    margin-bottom: 20px;
    font: 48px/48px "League Gothic Regular", Arial, sans-serif;
    text-transform: uppercase;
    color: #454545;
}

.info-blocks__left h1 span {
    color: #b9b9b9;
}

.info-blocks__left p {
    overflow: hidden;
    margin-top: 10px;
    max-height: 112px;
}

.info-blocks__left h3 {
    display: none;
}

.info-blocks__center {
    margin: 0 56px;
}

.info-blocks__center h3:first-child {
    display: none;
}

.info-blocks__copyrights {
    font: 16px/16px "Georgia", Arial, sans-serif;
    font-style: italic;
    color: #c5c5c5;
}

/* FOOTER */

footer {
    height: auto;
    width: 100%;
    background: url(../img/bg_footer.jpg) no-repeat top center;
    -pie-background: url(../img/bg_footer.jpg) no-repeat top center;
    behavior: url(PIE.htc);
    overflow: hidden;
}

.footer {
    height: 114px;
}

.footer p {
    margin: 50px 0;
    float: right;
    font: 12px/14px "Open Sans Light", Arial, sans-serif;
    color: #fff;
}

.footer span {
    font-family: "Open Sans Extrabold";
}

.menu--footer {
    float: left;
    margin: 47px 0;
}

.menu--footer .menu__list-items {
    margin: 0 43px 0 0;
}

.menu--footer .menu__list-items a {
    font: 20px/28px "League Gothic Regular", Arial, sans-serif;
}

.menu--footer .menu__list-items a:hover {
    border-bottom: 2px solid #edbfff;
}

/* CLEARFIX*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}