/* HEADER */

body {
    font: 24px/20px $main-font;
    color: $style-color;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

@mixin block-style($class, $margin-top: 40px, $background-color: #fff) {
    .#{$class} {
        background-color: $background-color;
    }

    .#{$class}-container {
        margin: $margin-top auto 0;
        padding: 0 $container-padding;
        max-width: $container-width;
    }
}

@include block-style('header');
@include block-style('menu');
@include block-style('slider');
@include block-style('skills', 75px);
@include block-style('services', 85px, $style-color);
@include block-style('updates', 0, $gray-color);
@include block-style('brands', 95px);
@include block-style('links', 100px, $style-color);
@include block-style('contacts', 0, #35383c);

.header-logo {
    float: left;
}

.header-social {

    float: right;

    &__item {
        float: left;
        margin: 10px 10px 0;
    }

    &__link {
        display: block;
        height: 16px;
        width: 17px;
        background: url("../img/sprite-socials.png");

        &--facebook {
            width: 8px;
            background-position: 0 0;
            &:hover {
                background-position-y: -18px;
            }
        }

        &--twitter {
            background-position: -11px 0;
            &:hover {
                background-position-y: -18px;
            }
        }

        &--rss {
            background-position: -29px 0;
            &:hover {
                background-position-y: -18px;
            }
        }

        &--linkedin {
            background-position: -46px 0;
            &:hover {
                background-position-y: -18px;
            }
        }

        &--skype {
            background-position: -64px 0;
            &:hover {
                background-position-y: -18px;
            }
        }
    }
}