/* NEWS & BANNERS */

.news {
    float: left;
    padding: 65px 0 50px;

    &-block {
        margin-top: 45px;
    }

    &-item {
        width: 560px;
        margin-bottom: 30px;

        &__view {
            position: relative;
            float: left;
            padding-right: 35px;
        }

        &__img {
            height: 150px;
            width: 150px;
        }

        &__public-date {
            position: absolute;
            top: 12px;
            left: -18px;
        }

        &__month,
        &__date {
            display: block;
            height: 40px;
            width: 40px;
            text-align: center;
            line-height: 40px;
        }

        &__month {
            background: $blue-color;
            font-size: 15px;
            color: #fff;
        }

        &__date {
            background: $gold-color;
            font-size: 18px;
        }

        &__head {
            display: block;
            text-decoration: none;
            color: $style-color;
            font-size: 16px;

            &:hover {
                color: $blue-color;
            }
        }

        &__author,
        &__content {
            display: block;
            color: #8a8a8a;
            font: 13px/20px $additional-font;
        }

        &__content {
            margin-top: 30px;
        }

        &__comment {
            padding-left: 10px;
        }

        &__linked {
            color: $blue-color;
            text-decoration: none;
        }
    }
}

.banners {
    float: left;
    margin-left: 40px;
    padding-top: 65px;

    &-block {
        margin-top: 40px;
    }
}

.accordion-item {
    width: 560px;
    margin-top: 5px;

    &__panel {
        display: block;
        text-decoration: none;
        font-size: 13px;
        background: #fff;
        color: $style-color;
        border: 1px solid #e8e8e8;

        &:before,
        &--active:before {
            display: inline-block;
            height: 38px;
            width: 38px;
            line-height: 38px;
            text-align: center;
            background: #fff;
            border-right: 1px solid #e8e8e8;
            content: url('../img/accordion-unselected.png');
        }
        &--active {
            background: $gold-color;
            color: #fff;

            &:before {
                background: $gold-color;
                border-right: 1px solid $gray-color;
                content: url('../img/accordion-selected.png');
            }
        }
    }

    &__title {
        padding-left: 12px;
    }

    &__content {
        padding: 30px 0 40px 38px;
        font: 13px/20px $additional-font;
        color: #8a8a8a;
    }
}