/* VARIABLES */

$container-width: 1160px;
$container-padding: 40px;

$main-font: 'Ubuntu', sans-serif;
$secondary-font: 'Ubuntu Condensed', sans-serif;
$additional-font: 'Arial Regular', sans-serif;

$style-color: #2a2d32;
$blue-color: #248cec;
$gold-color: #f4b60d;
$gray-color: #f7f7f7;